@import '~@styles/mixins.scss';

.levelUpModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__label {
    font-size: 0.7em;
    margin: 3em 0;

    @include main-text;
  }

  &__label-cost {
    font-size: 1em;

    -webkit-text-stroke: 0.025em #ff0000;
    text-shadow: 0.0125em 0em 0.185em #ff0000;

    &_disabled {
      opacity: 0.3;
      text-shadow: none;
    }
  }
}
