@import '~@styles/mixins.scss';

.levelUpModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;

  &__title {
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;

    @include main-text;
  }

  &__label {
    font-size: 0.7em;

    @include main-text;
  }

  &__label-cost {
    font-size: 1.2em;

    -webkit-text-stroke: 0.025em #ff0000;
    text-shadow: 0.0125em 0em 0.185em #ff0000;

    &_disabled {
      opacity: 0.3;
      text-shadow: none;
    }
  }

  &__confirm-button {
    position: relative;
    bottom: -1em;
  }
}
