.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &_open {
    animation: fade-in 300ms forwards;
  }
}

.modal-content {
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;

  &_open {
    animation: fade-in 300ms forwards;
  }
}

.close-button {
  position: absolute;
  top: -8px;
  right: 4px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 1001;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
