@import '~@fonts/fonts.scss';

.nav-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &__bottom-navigation {
    height: 76px !important;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
  }

  &__bottom-navigation-element {
    margin-bottom: 0.5em !important;
    color: #fff !important;
    span {
      @include font-press-start;
    }

    &_active {
      color: #00ffff !important;

      span {
        color: #fff !important;
      }
    }

    &_disabled {
      opacity: 0.2;
    }
  }
}
