{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "declaration-empty-line-before": "never",
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "display",
      "align-items",
      "justify-content",
      "flex",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "width",
      "height",
      "margin",
      "padding",
      "font-size",
      "font-family",
      "color",
      "background",
      "border",
      "box-shadow",
      "opacity",
      "z-index"
    ]
  }
}
