@import '~@styles/mixins.scss';

$width: 21.875em;

.friends {
  height: 100%;
  width: $width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1em;

  &__referral-link {
    font-size: 0.65em;
    word-wrap: break-word;
    user-select: all;

    @include main-text-light;
  }

  &__list {
    height: 80%;
    margin: 2em auto;
    overflow: auto;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.65em;
    margin: 0.5em auto;

    @include main-text-light;
  }

  &__list-item-name {
    text-align: right;
  }

  &__list-item-rewards-done {
    display: flex;
    align-items: center;
  }

  &__list-item-claim-button {
    font-size: 0.7em;
    padding: 0.1em;

    @include main-text-light;
  }
}

.share-link-wrapper {
  margin: 0 auto;
  text-align: center;
}

.share-link {
  display: inline-block;
  width: auto;
  height: 1em;
  background: red;
}
