.unsupported {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./images/bg.jpg') no-repeat center / cover;
    z-index: -1;
  }

  &__icon {
    width: 250px;
    height: 200px;
  }

  &__icon-svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
