.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__balance {
    position: relative;
    top: 3em;
    width: 15.625em;
    height: 4em;
  }

  &__game {
    display: block;
    position: relative;
    top: 15%;
    z-index: 0;
  }

  &__scale-bar {
    width: 15.625em;
    position: relative;
    bottom: 2em;
    height: 1.875em;
    margin-top: auto;
    z-index: 2;
  }
}
