$size: 15.625em;

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__balance {
    width: 100%;
  }

  &__game {
    display: block;
  }

  &__scale-bar {
    width: $size;
  }
}
