@import '~@fonts/fonts.scss';

.game-balance {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.03);

  &__label {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.4;
    -webkit-text-stroke: 2px #58458d;

    @include font-overdoze;
  }
}
