$size: 15.625em;

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__balance {
    width: 100%;
  }

  &__game {
    position: relative;
    bottom: 15%;
  }

  &__scale-bar {
    position: relative;
    bottom: 5%;
    width: $size;
  }
}
