@import '~@fonts/fonts.scss';

.game {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__balance {
    width: 200px;
    height: 50px;
  }

  &__icon {
    width: 100%;
    outline: none;
    animation: rotate-turn linear 10s infinite;
    pointer-events: auto;

    &_unclickable {
      animation: none;
    }

    &_boosted {
      pointer-events: none;
      animation: rotate-turn linear 2000ms infinite;
    }
  }

  &__icon-svg {
    width: 250px;
    height: 250px;
    display: block;
    outline: none;
    pointer-events: none;
    transition: opacity 300ms ease-in;

    &_scale {
      animation: scale-up 100ms ease-in-out forwards;
    }

    &_disabled {
      opacity: 0.5;
    }
  }

  &_icon-svg-elements {
    fill: #050d42;

    &_boosted {
      fill: orange;
      box-shadow: 120px 80px 40px 20px #0ff;
    }
  }

  &_icon-svg-dots {
    fill: #2f4bff;

    &_boosted {
      fill: red;
    }
  }

  &__click-message {
    pointer-events: none;
    position: absolute;
    color: #fff;
    font-size: 2.5em;
    transform: translate(-50%, -50%);
    animation: fly-up 500ms forwards;

    @include font-overdoze;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes fly-up {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
