.scale-container {
  width: 100%;
  height: 30px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;

  &__scale-fill {
    height: 100%;
    transition:
      width 0.3s,
      background-color 0.3s;
    width: 0;
    background-color: #ccc;
    will-change: width, background-color;
  }

  &__scale-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1em;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    will-change: content;
  }
}
