@import '~@fonts/fonts.scss';

.game-balance {
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    font-size: 3.5em;
    color: #050d42;
    -webkit-text-stroke: 0.025em #0ff;
    text-shadow: 0.0125em 0em 0.185em #0ff;

    @include font-press-start;

    &_boost-mega {
      -webkit-text-stroke: 0.025em #ff0000;
      text-shadow: 0.0125em 0em 0.185em #ff0000;
    }
  }
}
