@import '~@fonts/fonts.scss';

.game-balance {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__label {
    color: #fff;
    font-size: 5.5em;
    line-height: 1.4;
    -webkit-text-stroke: 0.025em #000000;
    text-shadow: 0.1125em 0.05em 0.185em #000000;

    @include font-overdoze;
  }
}
