@import '~@fonts/fonts.scss';

.scale-container {
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.45);
  border-radius: 0.5em;
  box-shadow: 0 0em 1em 0.3em rgba(0, 255, 255, var(--box-shadow-brightness));
  position: relative;

  &_boost-mega {
    box-shadow: 0 0em 1em 0.3em #ff0000;
  }

  &__scale-fill {
    height: 100%;
    border-radius: 0.5em;
    transition:
      width 0.3s,
      background-color 0.3s;
    width: 0;
    will-change: width, background-color;
  }

  &__scale-text {
    width: 15.625em;
    top: 0;
    left: 50%;
    position: absolute;
    text-align: center;
    padding-top: 0.3em;
    transform: translateX(-50%);
    will-change: content;
    z-index: 1;
    color: #ffffff;
    font-size: 1.3em;
    -webkit-text-stroke: 1.25px #000000;
    text-shadow: 0.1125em 0.05em 0.185em #000000;

    @include font-press-start;
  }
}
