.game {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  pointer-events: auto;

  &__balance {
    width: 200px;
    height: 50px;
  }

  &__icon {
    width: 100%;
    outline: none;
    animation: rotate-turn linear 10s infinite;

    &_unclickable {
      animation: none;
    }
  }

  &__icon-svg {
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    pointer-events: none;
    transition: opacity 300ms ease-in;

    &_scale {
      animation: scale-up 100ms forwards;
    }

    &_disabled {
      opacity: 0.5;
    }
  }

  &__click-message {
    pointer-events: none;
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    transform: translate(-50%, -50%);
    animation: fly-up 500ms forwards;
  }

  &__scale-container {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
  }

  &__scale-fill {
    height: 100%;
    transition:
      width 0.3s,
      background-color 0.3s;
    width: 0;
    background-color: #ccc;
  }

  &__scale-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1em;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes fly-up {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(-65px);
  }
}
