@import '~@fonts/fonts.scss';

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__balance {
    position: relative;
    top: 3em;
    width: 100%;
  }

  &__game {
    display: block;
    position: relative;
    top: 15%;
    z-index: 0;
  }

  &__scale-bar {
    width: 15.625em;
    position: relative;
    bottom: 2em;
    height: 1.875em;
    margin-top: auto;
    z-index: 2;
  }

  &__boost-button {
    position: absolute;
    display: flex;
    justify-content: center;
    background: transparent;
    box-shadow: 0 0 0.9em 0.2em #0ff;
    border-radius: 100%;
    cursor: pointer;
    color: #0ff;
    opacity: 0.6;
    z-index: 1000;
  }
}
