.game {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: auto;

  &__icon {
    outline: none;
    animation: rotate-turn linear 10s infinite;
  }

  &__icon-svg {
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    pointer-events: auto;

    &_scale {
      animation: scale-up 100ms forwards;
    }
  }

  &__click-message {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    animation: fly-up 500ms forwards;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes fly-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-35px);
  }
}
