@import '~@fonts/fonts.scss';

$size: 15.625em;

.game {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__balance {
    width: 100%;
    height: 6.25em;
  }

  &__icon {
    width: $size;
    position: relative;
    outline: none;
    transition: box-shadow 300ms linear;
    animation: rotate-turn linear 10s infinite;
    pointer-events: auto;

    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      width: 4.9em;
      height: 4.9em;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 3.125em 0.7em rgba(255, 217, 0, 0.572);
      border-radius: 100%;
      z-index: -1;
    }

    &_unclickable {
      animation: none;
      &::before {
        box-shadow: none;
      }
    }

    &_boosted {
      pointer-events: none;
      animation: rotate-turn linear 2000ms infinite;

      &::before {
        box-shadow: 0 0 3.125em 0.7em red;
      }
    }
  }

  &__icon-svg {
    width: $size;
    height: $size;
    display: block;
    outline: none;
    pointer-events: none;
    transition: opacity 300ms ease-in;

    &_scale {
      animation: scale-up 100ms ease-in-out forwards;
    }

    &_disabled {
      opacity: 0.5;
    }
  }

  &_icon-svg-elements {
    fill: #050d42;

    &_boosted {
      fill: orange;
      box-shadow: 120px 80px 40px 20px #0ff;
    }
  }

  &_icon-svg-dots {
    fill: #2f4bff;

    &_boosted {
      fill: red;
    }
  }

  &__scale-bar {
    width: $size;
  }

  &__click-message {
    pointer-events: none;
    position: absolute;
    color: #fff;
    font-size: 2.5em;
    transform: translate(-50%, -50%);
    animation: fly-up 500ms forwards;

    @include font-overdoze;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes rotate-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes fly-up {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
