@import '~@fonts/fonts.scss';

.scale-container {
  width: 100%;
  height: 30px;
  background-color: rgba(204, 204, 204, 0.45);
  border-radius: 5px;
  overflow: hidden;
  bottom: 25px;
  left: 0;
  margin: 10px 0;
  position: relative;
  box-shadow: 0 0em 1em 0.3em #0ff;

  &__scale-fill {
    height: 100%;
    transition:
      width 0.3s,
      background-color 0.3s;
    width: 0;
    will-change: width, background-color;
  }

  &__scale-text {
    width: 100%;
    top: 50%;
    left: 0;
    position: absolute;
    text-align: center;
    transform: translate(0, -50%);
    padding-top: 0.3em;
    will-change: content;
    z-index: 1;
  }

  &__scale-text-label {
    color: #ffffff;
    font-size: 1.3em;
    -webkit-text-stroke: 1.25px #000000;
    text-shadow: 0.1125em 0.05em 0.185em #000000;

    @include font-press-start;
  }
}
