@use '@fonts/fonts.scss' as fonts;

@mixin main-text {
  color: #050d42;
  -webkit-text-stroke: 0.025em #00ffff;
  text-shadow: 0.0125em 0em 0.185em #00ffff;

  @include fonts.font-press-start;
}

@mixin main-text-light {
  color: #ffffff;
  -webkit-text-stroke: 0.025em #000000;

  @include fonts.font-press-start;
}

@mixin main-text-contrast {
  color: #ffffff;
  -webkit-text-stroke: 0.06em #000000;
  text-shadow: 0.1125em 0 0.345em #000000;

  @include fonts.font-press-start;
}
