* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
}

body {
  font-size: 16px;
}

@keyframes scale-up {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.3);
  }

  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

// fix rc-tooltip arrow {
.rc-tooltip-arrow {
  bottom: 4px !important;
}
