@import '~@fonts/fonts.scss';

.nav-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &__bottom-navigation {
    background-color: #000000 !important;
  }

  &__bottom-navigation-element {
    color: #fff !important;
    span {
      @include font-overdoze;
    }

    &_active {
      color: gold !important;

      span {
        font-size: 1.25em;
        color: #fff !important;
      }
    }
  }
}
