@use '@styles/mixins.scss' as mixins;
@use '@fonts/fonts.scss' as fonts;

.boost-button-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.boost-button {
  display: flex;
  position: relative;
  background: transparent;
  color: #00ffff;
  cursor: pointer;
  animation: scale-up 2s infinite ease-in-out;
  z-index: 1000;

  &_disabled {
    color: #ccc;
    pointer-events: none;
    opacity: 0.3;
    animation: none;
  }

  &__timer {
    @include mixins.main-text-light;

    text-align: left;
    font-size: 0.875em;
  }
}

.tooltip {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__label {
    color: #ffffff;

    @include fonts.font-press-start;
  }

  &__button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.65em;
  }

  &__button-group-button {
    display: block;
    font-size: 0.4em;

    &_yes {
      color: #00ffff;
    }
  }
}

@keyframes scale-up {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.3);
  }

  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
