.screen-main {
  height: 100%;
}

.modal-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  display: grid;
  place-items: center;
  z-index: 1000;
}

.modal-container > * {
  pointer-events: auto;
}
