.entry {
  position: relative;
  height: calc(100svh - 3.5em);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./images/unsupported.jpg') no-repeat center / cover;
    z-index: -1;
  }

  &__unsuppoerted {
    height: 100svh;
  }
}
