.entry {
  position: relative;
  overflow: hidden;
  height: calc(100svh - 3.5em);
  touch-action: none;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // background: url('./images/unsupported.jpg') no-repeat center / cover;
    background: url('https://cdn.pixabay.com/photo/2016/08/03/06/22/space-1565986_1280.jpg')
      no-repeat center / cover;
    z-index: -1;
  }

  &_unsuppoerted {
    height: 100svh;
  }
}
