@import '~@styles/mixins.scss';

.entry {
  position: relative;
  overflow: hidden;
  height: calc(100svh - 4.75em);
  touch-action: none;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #1a237e) no-repeat center /
      cover;
    z-index: -1;
  }

  &__loading-loader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__loading-loader-label {
    font-size: 1.5em;

    color: #050d42;
    -webkit-text-stroke: 0.025em #0ff;
    text-shadow: 0.0125em 0em 0.185em #0ff;
  }

  &__not-auth-label {
    font-size: 2.5em;

    @include main-text;
  }

  &_unsupported,
  &_loading,
  &_not-auth {
    height: 100svh;
    width: 100%;
  }

  &_loading,
  &_not-auth {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_not-auth {
    text-align: center;
  }
}
