.entry {
  position: relative;
  overflow: hidden;
  height: calc(100svh - 4.75em);
  touch-action: none;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #1a237e) no-repeat center /
      cover;
    z-index: -1;
  }

  &_unsuppoerted {
    height: 100svh;
  }
}
