.entry {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./images/unsupported.jpg') no-repeat center / cover;
    z-index: -1;
  }
}
