@use '@styles/mixins.scss' as mixins;

.game-balance {
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    font-size: 3.5em;

    @include mixins.main-text;

    &_boost-mega {
      -webkit-text-stroke: 0.025em #ff0000;
      text-shadow: 0.0125em 0em 0.185em #ff0000;
    }
  }
}
