@use '@styles/mixins.scss' as mixins;

.level-up-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;

  &__title {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 1em;

    @include mixins.main-text-contrast;
  }

  &__label {
    font-size: 0.7em;

    @include mixins.main-text-contrast;
  }

  &__label-cost {
    font-size: 1.2em;

    -webkit-text-stroke: 0.05em #000000;
    text-shadow: 0.0125em 0em 1.145em #0f0;
    color: #0f0;

    &_disabled {
      opacity: 0.3;
      text-shadow: none;
    }
  }

  &__confirm-button {
    position: relative;
    bottom: -1em;
  }
}
