@import '~@fonts/fonts.scss';

.unsupported {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./images/unsupported.jpg') no-repeat center / cover;
    z-index: -1;
  }

  &__title {
    color: #fff;
    font-size: 2.5em;
    -webkit-text-stroke: 1px #58458d;

    @include font-overdoze;
  }

  &__icon {
    width: 250px;
    height: 250px;
    animation: rotate-turn linear 10s infinite;
  }

  &__icon-svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

@keyframes rotate-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}
