@use '@fonts/fonts.scss' as fonts;

@mixin text-style($font-size) {
  font-size: $font-size;
  color: #e2e2e2;
  -webkit-text-stroke: 1.25px #000000;
  text-shadow: 5px 4px 3px #000000;

  @include fonts.font-overdoze;
}

.unsupported {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text-container {
    height: 35.625em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  &__title {
    @include text-style(3em);
  }

  &__redirect {
    @include text-style(2em);
  }
}
