$width: 21.875em;

.home {
  width: 100%;
  height: 100%;
  background: url('~../../images/test.jpg') center / 100% no-repeat;

  &__game {
    width: 100%;
    height: 100%;
    max-width: $width;
    margin: 0 auto;
  }
}
