$width: 21.875em;

.home {
  width: 100%;
  height: 100%;
  position: relative;

  &__game-info-button {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }

  &__game {
    width: 100%;
    height: 100%;
    max-width: $width;
    margin: 0 auto;
  }
}
